@model ParkDetailVM

@{
    ViewData["Title"] = "Detail";
}
<div id="DetailBody">
    <img id="DetailImage" class="img-responsive" src="~/images/parks/@(Model.Park.ParkCode).jpg" alt=" Scenic View of Park" />
    <h2 id="DetailHeaderName">@Model.Park.ParkName</h2>
    <table class="table table-striped">
        <tr>
            <td><strong>State: </strong>@Model.Park.State</td>
        </tr>
        <tr>
            <td><strong>Acerage: </strong> @Model.Park.Acerage acres</td>
        </tr>
        <tr>
            <td><strong>Elevation: </strong> @Model.Park.ElevationInFeet ft.</td>
        </tr>
        <tr>
            <td><strong>Miles of Trail: </strong>@Model.Park.MilesOfTrail ft.</td>
        </tr>
        <tr>
            <td><strong>Number of Campsites: </strong>@Model.Park.NumberOfCampSites</td>
        </tr>
        <tr>
            <td><strong>Climate: </strong>@Model.Park.Climate</td>
        </tr>
        <tr>
            <td><strong>Year Founded: </strong>@Model.Park.YearFounded</td>
        </tr>
        <tr>
            <td><strong>Annual Visitor Count: </strong>@Model.Park.AnnualVisitorCount</td>
        </tr>
        <tr>
            <td><strong>Number of Animal Species: </strong>@Model.Park.NumberOfAnimalSpecies</td>
        </tr>
        <tr>
            <td><strong>Entry Fee: </strong>$@(Model.Park.EntryFee).00</td>
        </tr>
        <br />
        <tr>
            <td><i>"@Model.Park.InspirationalQuote" </i>- @Model.Park.InspirationalQuoteSource</td>
        </tr>
        <br />
        <tr>
            <td><strong>Park Description:</strong></td>
        </tr>
        <tr>
            <td>@Model.Park.ParkDescription</td>
        </tr>
    </table>
    <br></br>
    <form method="post" asp-controller="Home" asp-action="Detail">

        <h3><strong>Current 5 Day Weather Forecast</strong></h3>
        <table id="WeatherTable" class="table table-bordered">
            <div>
                <input type="hidden" value="@Model.Park.ParkCode" name="parkCode" />
                <label>Celsius </label>
                <input type="radio" value="C" asp-for="TempUnit" />
                <label>Farenheit </label>
                <input type="radio" value="F" asp-for="TempUnit" />
                <input type="submit" value="Change Temp" />
            </div>
            
                
            
            @foreach (Weather weather in Model.Weather)
            {
                
            <td>
                <strong>
                    Day @weather.FiveDayForecastValue
                </strong>

                <br />
                <img id="WeatherImage" src="~/images/weather/@(weather.Forecast.Replace(" ","")).png" /><br />
                <p><strong>High: </strong>@weather.High&#176</p>
                <br />
                <p><strong>Low: </strong>@weather.Low&#176</p>

                <br />
                <strong>Recommendations: </strong>
                @if (weather.Forecast.Replace(" ", "") == "snow")
                {
                    <p>Make sure to pack snow shoes</p>
                }
                else if (weather.Forecast.Replace(" ", "") == "rain")
                {
                    <p>Be sure to pack rain gear and wear water proof shoes</p>
                }
                else if (weather.Forecast.Replace(" ", "") == "thunderstorms")
                {
                    <p>Be sure to seek shelter and avoid hiking on exposed ridges</p>
                }
                else if (weather.Forecast.Replace(" ", "") == "sunny")
                {
                    <p>Be sure to pack your sunblock</p>
                }


                @if (Model.TempUnit == "F")
                {
                    if (weather.High >= 75)
                    {
                        <p>Do not forget to pack an extra gallon of water</p>
                    }
                    if ((weather.High - weather.Low) >= 20)
                    {
                        <p>Also be sure to wear breathable layers</p>
                    }
                    if (weather.Low <= 20)
                    {
                        <p>WARNING! You will experience exposure to frigid temperatures</p>
                    }
                }
                else
                {
                    if (weather.High >= (int)((((double)75 - 32) / 1.8)))
                    {
                        <p> Do not forget to pack an extra gallon of water </p>
                    }
                    if ((weather.High - weather.Low) >= Math.Round(((double)20 / 1.8), 0))
                    {
                        <p> Also be sure to wear breathable layers</p>
                    }
                    if (weather.Low <= Math.Round(((((double)20 - 32) / 1.8)), 0))
                    {
                        <p> WARNING!You will experience exposure to frigid temperatures</p>
                    }
                }
            </td>
                
            }

        </table>
        @*<input type="hidden" value="@Model.Park.ParkCode" name="parkCode" />
            <label>Celsius </label><input type="radio" value="C" asp-for="TempUnit" />
            <label>Farenheit </label><input type="radio" value="F" asp-for="TempUnit" />
            <input type="submit" value="Change Temp" />*@

    </form>
</div>
